//compress: true, sourceMap: true
/*fonts*/
@font-face {
	font-family: 'FranklinGothicBook';
	src: url('../fonts/FranklinGothicBookC.eot');
	src: local('☺'), url('../fonts/FranklinGothicBookC.woff') format('woff'), url('../fonts/FranklinGothicBookC.ttf') format('truetype'), url('../fonts/FranklinGothicBookC.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'FranklinGothic-Demi';
	src: url('../fonts/FranklinGothic-Demi.eot');
	src: local('☺'), url('../fonts/FranklinGothic-Demi.woff') format('woff'), url('../fonts/FranklinGothic-Demi.ttf') format('truetype'), url('../fonts/FranklinGothic-Demi.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'HelveticaNeue';
	src: url('../fonts/helveticaneuecyr-light.eot');
	src: local('☺'), url('../fonts/helveticaneuecyr-light.woff') format('woff'), url('../fonts/helveticaneuecyr-light.ttf') format('truetype'), url('../fonts/helveticaneuecyr-light.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

html{
  font-size: 16px;
}
body{
  font-size: 1rem;
  -webkit-font-smoothing: antialiased;
  color: @black;
  margin: 0;
  padding: 0;
  background-color: @white;
  overflow-x: hidden;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
p {
  margin: 0;
}
a {
  &:focus {
    outline: none;
  }
}
/*===================*/
/*helpers*/
@import "help.less";
/*vars*/
@import "var.less";
/*===================*/
/*vendor*/
/*1. normalize css https://necolas.github.io/normalize.css/ */
@import "vendor/normalize.less";
/*===================*/
/*main style block*/
/*1. container*/
@import "block/container.less";
/*2. survey_page_1*/
@import "block/survey_page_1.less";
/*3. nav menu*/
@import "block/nav.less";
/*4. button style*/
@import "block/btn.less";
