//main: ../style.less
.btn{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 114px;
  height: 40px;
  background-color: @blue;
  text-decoration: none;
  font-family: @book;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.19;
  letter-spacing: normal;
  text-align: left;
  color: @white;
  border: 1px solid @blue;
  transition: border 0.2s linear, background-color 0.2s linear, color 0.2s linear;
  &:hover{
    transition: border 0.2s linear, background-color 0.2s linear, color 0.2s linear;
    border: 1px solid @blue;
    background-color: @white;
    color: @blue;
  }
}
/*mobile btn*/
.mobile__btn{
  width: 53px;
  height: 53px;
  background-color: @blue;
  border-radius: 50%;
  position: relative;
  span{
    width: 30px;
    height: 3px;
    background-color: @white;
    position: absolute;
    left: 11.5px;
    top: 25px;
  }
}