//main: ../style.less

/*header__top*/
.header__top {
  width: 100%;
  height: 28px;
  background-color: @blue;
  display: flex;
  align-items: center;
  &--lang {
    display: flex;
    justify-content: flex-end;
    a {
      display: block;
      font-family: @helvetika;
      font-size: 15px;
      font-weight: 300;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.2;
      letter-spacing: normal;
      text-align: right;
      color: @white;
      margin-right: 45px;
      text-decoration: none;
      &:last-child {
        margin-right: 0;
      }
    }
  }
}
/*header__bottom*/
.header__bottom {
  display: flex;
  align-items: center;
  width: 100%;
  height: 93px;
  background-color: @grey;
}
.bottom__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/*nav bar brand*/
.nav__brand {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 160px;
}
.brand__asside {
  width: 25%;
}
.brand__title {
  width: 75%;
  h1 {
    font-family: @demi;
    font-size: 42px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.12;
    letter-spacing: normal;
    color: @almost-black;
    margin-bottom: 8px;
  }
  h2 {
    font-family: @book;
    font-size: 26px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.19;
    letter-spacing: normal;
    color: @blue-l;
  }
}
/*intro img block*/
.intro__img{
  width: 100%;
  height: 474.5px;
  background: url(../img/intro/intro.jpg)no-repeat center;
  overflow: hidden;
  background-size: cover;
}
